:javascript
  function map_initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(35, 0),
      zoom: 2,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true,
      styles: [
        {
          "elementType": "labels",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "landscape.natural",
          "stylers": [
            { "color": "#c8c1dd" }
          ]
        },{
          "featureType": "water",
          "stylers": [
            { "color": "#58488a" }
          ]
        },
        {
          "featureType": "road",
          "stylers": [
            { "visibility": "off" }
          ]
        },
        {
          "featureType": "poi",
          "stylers": [
            { "visibility": "off" }
          ]
        },
        {
          "featureType": "transit",
          "stylers": [
            { "visibility": "off" }
          ]
        }
      ]
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', map_initialize);

#map-canvas

%ul#app_nav
  %li= (params['app'] ? params['app'] : 'Select App') + '<span></span>'
  - @apps.each do |app|
    %li
      %a{href: "/#{app["name"]}"}
        =app["name"]
