:javascript
  var pusher = new Pusher("#{ENV['PUSHER_APP_KEY']}", {cluster: 'eu'});
  var channel = pusher.subscribe("#{@app}");
  var map;

  channel.bind('my_event', function(data) {
    addMarker(data);
  });

  function map_initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(35, 0),
      zoom: 2,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true,
      styles: [
        {
          "elementType": "labels",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "landscape.natural",
          "stylers": [
            { "color": "#c8c1dd" }
          ]
        },{
          "featureType": "water",
          "stylers": [
            { "color": "#58488a" }
          ]
        },
        {
          "featureType": "road",
          "stylers": [
            { "visibility": "off" }
          ]
        },
        {
          "featureType": "poi",
          "stylers": [
            { "visibility": "off" }
          ]
        },
        {
          "featureType": "transit",
          "stylers": [
            { "visibility": "off" }
          ]
        }
      ]
    };
    map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
  }

  function addMarker(mapData) {
    loglatlng = new google.maps.LatLng(mapData['lat'],mapData['lon']);

    var image = {
      url: '/images/heroku_marker_sprite.png',
      size: new google.maps.Size(20, 34),
      origin: new google.maps.Point(0,0),
      anchor: new google.maps.Point(10, 34)
    };
    var shadow = {
      url: '/images/heroku_marker_sprite.png',
      size: new google.maps.Size(37, 34),
      origin: new google.maps.Point(20,0),
      anchor: new google.maps.Point(10, 34)
    };

    new google.maps.Marker({
      position: loglatlng,
      map: map,
      title: mapData['message']
      // icon: image,
      // shadow: shadow
    });
  }

  google.maps.event.addDomListener(window, 'load', map_initialize);

#map-canvas

%ul#app_nav
  %li= (params['app'] ? params['app'] : 'Select App') + '<span></span>'
  - @apps.each do |app|
    %li
      %a{href: "/#{app["name"]}"}
        =app["name"]
