!!! 5
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html{lang: "en"}

  %head

    %meta{charset: "utf-8"}

    %title Heroku Logwatch

    %meta{name: "description", content: "Heroku Logwatch"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %link{rel: "stylesheet", href: "/stylesheets/core.css"}


    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBvQXJpKO3EL1V30dbO2KPY4QFtqsnu3bE&sensor=false"}

    :javascript
      function map_initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(25, 0),
          zoom: 2,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: [{
            featureType: 'water',
            stylers: [
              { color: '#58488a' }
            ]
          }
          ]
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', map_initialize);

  %body

    %header

      %h1
        %span Heroku
        %em Logwatch

    #map-canvas

    =yield

    %footer
      %p
        %small John, Neil, Al