!!! 5
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html{lang: "en"}

  %head

    %meta{charset: "utf-8"}

    %title Heroku Logwatch

    %meta{name: "description", content: "Heroku Logwatch"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %link{rel: "stylesheet", href: "/stylesheets/core.css"}
    %link{href: "/favicon.ico", rel: "shortcut icon", type: "image/vnd.microsoft.icon"}

    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBvQXJpKO3EL1V30dbO2KPY4QFtqsnu3bE&sensor=false"}
    %script{src: "http://js.pusher.com/2.1/pusher.min.js"}

  %body

    %header

      %h1
        %span Heroku
        %em logwatch

    =yield

    %footer
      %p
        %small WagonLabs #HackedIO 2013
