!!! 5
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html{lang: "en"}

  %head

    %meta{charset: "utf-8"}

    %title Heroku Logwatch

    %meta{name: "description", content: "Heroku Logwatch"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %link{rel: "stylesheet", href: "/stylesheets/core.css"}
    %link{href: "/favicon.ico", rel: "shortcut icon", type: "image/vnd.microsoft.icon"}

    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBvQXJpKO3EL1V30dbO2KPY4QFtqsnu3bE&sensor=false"}
    %script{src: "http://js.pusher.com/2.1/pusher.min.js"}

    :javascript
      var pusher = new Pusher("#{ENV['PUSHER_APP_KEY']}", {cluster: 'eu'});
      var channel = pusher.subscribe('my-channel');
      channel.bind('my_event', function(data) {
        // Markers added to mapp here
        alert(data.message);
      });

  %body

    %header

      %h1
        %span Heroku
        %em Logwatch

    =yield

    %footer
      %p
        %small John, Neil, Al
